/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
}

.dnd-handle {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
