#gfx_holder {
    border: medium solid #ff00ff;
    padding: 0px;
    margin: 0px;
    position: relative;
  }

.box {
    display: flex;
    border: medium solid yellow;
    width: 100%;
    position: absolute;
}
      
.panel {
    flex: 1 ;
    order: 1;
    border: medium solid blue;
}
.canvas {
    flex: 1 ;
    order: 2;
    border: medium solid green;

}

