<!--
<input type="button" value="現在時刻" (click)="onclick()" />
<div>{{result}}</div>
<div class="test" id="gfx_holder"></div>
-->
<!--
<div class="container">
    <div class="item">
          <input type="button" value="現在時刻" (click)="onclick()" />
          <div>{{result}}</div>
    </div>
    <div class="item">
          <div class="test" id="gfx_holder"></div>
    </div>
</div>
-->
<div class="container">
    <div class="item">
          <div class="test" id="gfx_holder"></div>
    </div>
    <div class="item">
          <input type="button" value="現在時刻" (click)="onclick()" />
          <div>{{result}}</div>
    </div>
</div>
