<!--
<div class="test" id="gfx_holder"></div>
<input type="button" value="現在時刻" (click)="onclick()" />
<div>{{result}}</div>
-->

<!--
<div class="container">
    <div class="item">
          <input type="button" value="現在時刻" (click)="onclick()" />
          <div>{{result}}</div>
    </div>
    <div class="item">
          <div class="canvas" id="gfx_holder"></div>
    </div>
</div>
-->

<div class="box">
    <div class="canvas" >
              <div class="test" id="gfx_holder"></div>
    </div>
    <div class="panel">
          <input type="button" value="現在時刻" (click)="onclick()" />
          <div>{{result}}</div>
          <input type="button" value="現在時刻" (click)="onclick()" />
          <input type="button" value="現在時刻" (click)="onclick()" />
    </div>
</div>

